<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.with.community.dao.BoardDAO">

	<sql id="boardtWhere" >
	where 
		1=1
	<if test="searchKeyword != null and searchKeyword != ''">
		<![CDATA[ 
		 AND 
			( 
			board_title like concat('%',#{searchKeyword},'%') OR
		    board_content like concat('%',#{searchKeyword},'%') 
			 )  
		 ]]> 
	</if>
</sql>

	<select id="HomeBoardList" resultType="BoardVO" parameterType="BoardVO">
	select * 
		from tbl_board 
		order by board_no asc
		 LIMIT 10;
	</select>

	<!-- 글 목록 -->
	<select id="BoardList" resultType="BoardVO" parameterType="BoardVO">
		select
		 *
		from
		 tbl_board
		ORDER BY BOARD_NO DESC
	</select>

	<!-- <select id="BoardListCri" resultType="BoardVO">
		select * from tbl_board
		limit #{pageStart},#{pageSize}
	</select> -->

	<!--  글 작성 -->
	<insert id="insertBoard">
  		insert
		 into
		tbl_board
		(
			board_no	
		 ,	board_title
		 ,  board_content
		 ,	board_writer
		 ,	board_count
		 ,	board_regdate
		)
		values
		(
			#{board_no}
		,	#{board_title}
		,   #{board_content}
		,	#{board_writer}
		,	#{board_count}
		,	now()
		)
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="BoardRead" parameterType="int" resultType="BoardVO">
		select
		 *
		from 
		 tbl_board
		where board_no = #{board_no}
	</select>
	
	<!-- 개수  -->
	<update id="updateReplyCount" parameterType="int">
	update tbl_board b
	set b.reply_cnt = (select count(reply_no) from tbl_reply where board_no = #{board_no})
	where b.board_no =#{board_no};
	</update>
	
	
	<!-- 게시글 수정 -->
	<update id="BoardUpdate" parameterType="BoardVO">
		update tbl_board
			set board_title = #{board_title},	
				board_content = #{board_content},
				board_updateDate = CURRENT_TIMESTAMP()
		where board_no = #{board_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="BoardDelete" parameterType="int">
		delete 
		  from tbl_board
		where board_no = #{board_no}
	</delete>

	<!-- 조회수 -->
	<update id="BoardHit" parameterType="int">
		update tbl_board set
		board_count = board_count+1
		where board_no = #{board_no}
	</update>
	
	<select id="lastBoardList" parameterType="int" resultType="BoardVO">
	 <![CDATA[
	SELECT 
		board_no
	,   board_title 
	FROM tbl_board 
		WHERE board_no < #{board_no}  
	ORDER BY board_no DESC LIMIT 1
	]]>
	</select>
	
	<select id="nextBoardList" parameterType="int" resultType="BoardVO">
	 <![CDATA[
	SELECT 
		board_no
	,   board_title 
	FROM tbl_board 
		WHERE board_no > #{board_no}  
	ORDER BY board_no LIMIT 1
	]]>
	</select>
	
	<!-- 총 개수 -->
	<select id="getListCount" resultType="int" parameterType="BoardVO">
		select count(board_no)
		 from tbl_board
		 where board_no > 0
	</select>
</mapper>